.container {
    max-width: 600px;
    margin: 2rem 0 16rem 4rem;
}

.backButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    margin: 1.5rem 0;
    padding: .5rem;
    border: 1px transparent;
    box-shadow: 1px 1px 5px 1px #ccc;
    background: #7cff506d;
    border-radius: 50px;
}